@import url("index.css");
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

* {
margin: 20;
padding: 20;
box-sizing: border-box;
font-family: 'Alegreya', serif;
}
body{
 
    width: 100%;
    height: auto;
  }

.header{
position: fixed;
top: 0;
left: 0; 
width: 100%;
padding: 20px 100px;
background-color: white;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}
.logo{
font-size: 32px;
color: #1d1e1f;
text-decoration: none;
font-weight: 700;
}
.navbar a {
  position: relative;
 font-size: 18px;
 color: #1d1e1f;
 font-weight: 500;
text-decoration: none;
margin-left: 40px;
}
.navbar a::before {
Content: '';
  Position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: .3s;
}


.navbar a:hover:before {
  width: 100%;
  background-color: #5c6843;
  color: white;
}

body, h4, ul, p {
  margin: 20;
  padding: 0;
}


footer {
 
  background-color: transparent;
  padding: 10px;
  text-align: left;
}

h4 {
  color: #1d1e1f;
}

.social-menu {
  margin-top: 20px;
  margin-right: 8px;
  display: inline-block;
  position: relative;
}

.social-icon img {
  margin: 0 10px;
  
  width: 20PX;
  height: 20px;
}


p {
  margin-top: 10px;
  color: #767676;
  font-size: 18px;
}
.herosection{
  display: grid;
 grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 18px;
}

.profileimage{
height: auto;
width: 100%;

padding-left: 150px;
}
.noteforhero{
  padding-left: 60px;
  font-size: 24px;
}

.footersocialmedia{
display: inline-block;
list-style-type: none;
padding: 2px;

}

.instagramlogo{
  padding-top: 0px;
}

.instagramlogo:hover {
background-color: #767676;
color: transparent;
}
  


.caseStudyCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
  padding-bottom: 40px;
  

}

.caseStudyCard {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;

}

.caseStudyCards img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
}

.caseStudyButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #dfd6c6;
  color: #fff ;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
 }

.caseStudyButton {
  color: #fff;
  text-decoration: none;
  
}

.caseStudyButton{
  position: relative; 
  top: 20px; 
  right: 10px;
}

.learnMoreButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5c6843;
  color: #5c6843;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}

.learnMoreButton:hover {
  background-color: #dfd6c6;
  color: #5c6843;
}
.myWorksSection {
  background-color: transparent;
  
  text-align: center;
 padding-top: 10px ; 
}


 
 
.mySkills {
  padding-bottom: 2%;
  justify-content: space-between;
  text-align: center;    
  background-color: white;
  }
  
  .mySkills h2 {
  border-radius: 10px;
  border: 1px solid black;
  border-width: 2px;
  display: inline-block;
  padding: 15px;
   background-color: none;
  text-align: center;
  
  }


.flexContainer{
  display: flex;
flex-direction: row;
background-color: none;
gap: 15px;
text-align: center;
margin-right: 15%;
margin-left: 15%;
justify-content:space-between;
margin-bottom: 10%;
padding-top: 70px;


}





.flex-skills-left {
  background-color: #dfd6c6;
    padding: 20px;
    border-radius: 10px;
    flex: 33%;
    margin: 20px;
}

.flex-skills-left:hover {
  background-color: #5c6843;
  color: #dfd6c6;
}

.flex-skills-right {
  background-color: #dfd6c6;
    padding: 20px;
    border-radius: 10px;
    flex: 33%;
    margin: 20px;
}
.flex-skills-right:hover {
  background-color: #5c6843;
  color: #dfd6c6;
}

.flex-skills-center:hover {
  background-color: #5c6843;
  color: #dfd6c6;
}

.flex-skills-center {
  background-color: #dfd6c6;
    padding: 20px;
    border-radius: 10px;
    flex: 33%;
    margin: 20px;
 
}




body {
  background-color: white;
}

@media only screen and (max-width: 800px) {
  body {
    background-color: #dfd6c6;
  }
}


 

   